header.main {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, max-content));
  justify-content: space-between;
  box-sizing: border-box;
  padding: 24px 48px;
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  align-items: center;
  z-index: 100;

  @media screen and (max-width: 640px) {
    padding: 24px;
    grid-template-columns: repeat(2, minmax(0, max-content));
  }

  #logo {
    text-align: center;
    position: absolute;
    left: calc(50% - 123.5px);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 800;
    color: var(--black);
    top: 18px;
    font-size: 18px;
    padding: 6px;
    box-sizing: border-box;
    border: 2px solid var(--black);

    .mb {
      display: none;
    }

    .dt {
      display: block;
    }

    @media screen and (max-width: 850px) {
      left: calc(50% - 29px);

      .mb {
        display: block;
      }

      .dt {
        display: none;
      }
    }

    @media screen and (max-width: 640px) {
      left: auto;
      right: 24px;

      .mb {
        display: none;
      }

      .dt {
        display: block;
      }
    }

    @media screen and (max-width: 512px) {
      .mb {
        display: block;
      }

      .dt {
        display: none;
      }
    }
  }
}

header nav {
  @media screen and (max-width: 640px) {
    display: none;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, max-content));
    list-style: none;
    grid-gap: 12px;
    font-size: 14px;
    font-weight: 600;
  }

  a {
    color: var(--black);
    text-decoration: none;
  }
}

header {
  .secondary-menu {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, max-content));
    grid-gap: 10px;
  }
}
