.jumbotron {
  height: 70vh;
  position: relative;
  box-sizing: border-box;

  .jumbotron__meta {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 24px 48px;
    right: 0;
    box-sizing: border-box;

    @media screen and (max-width: 640px) {
      padding: 24px;
    }
  }

  h1 {
    font-size: 48px;
    font-weight: 800;
  }

  .alert {
    position: absolute;
    top: 72px;
    width: 100%;
    left: 0;
    text-align: center;
    background: #11C488;
    padding: 12px;
    box-sizing: border-box;
    font-weight: 600;

    a {
      color: var(--black);
    }
  }
}
