:root {
  --brand-orange: #C5531A;
  --blue: #2A87BC;
  --black: #172B4D;

  --breakpoint: 640px;
}

* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
  color: var(--black);
}

a {
  color: var(--blue);
}

.m {
  margin-top: var(--mtop);
  margin-bottom: var(--mbottom);
  margin-left: var(--mleft);
  margin-right: var(--mright);
}

@import 'header';
@import 'button';
@import 'jumbotron';
@import 'menu';
