<header class="main">
    <div class="secondary-menu">
        <button class="menu-btn" id="open-menu">
            <span class="material-icons">
                menu
            </span>
            Menu
        </button>
<!--        <button class="menu-btn">-->
<!--            <span class="material-icons">-->
<!--                search-->
<!--            </span>-->
<!--            Search-->
<!--        </button>-->
    </div>
    <div>
        <a href="/" id="logo">
            <span class="dt">Omaha School of Ministry</span>
            <span class="mb">OSM</span>
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="/apply">Apply</a></li>
            <li><a href="/visit">Visit</a></li>
            <li><a href="/academics">Majors & Tracks</a></li>
        </ul>
    </nav>
</header>
{{ partial "menu.html" . }}
