<div class="menu">
    <button class="menu-btn" id="close-menu">
        <span class="material-icons">
            close
        </span>
        Menu
    </button>
    <div class="menu__content">
        <div class="mb">
            <ul class="menu__nav">
                <li><a href="/apply">Apply</a></li>
                <li><a href="/visit">Visit</a></li>
                <li><a href="/academics">Majors &amp; Tracks</a></li>
            </ul>
        </div>
        <div></div>
        <div>
            <ul class="menu__nav menu__nav--small">
                <li><a href="/about">About</a></li>
                <li><a href="/staff">Staff</a></li>
                <li><a href="/doctrines">Doctrinal Statement</a></li>
                <li><a href="/request-info">Request Info</a></li>
    <!--            <li><a href="/blog">Blog</a></li>-->
                <li><a href="https://flatlandchurch.com/the-move">Giving</a></li>
            </ul>
            <div class="social-bar">
                <a href="https://facebook.com/flatlandchurchomaha"><span class="fa fa-facebook"></span></a>
                <a href="https://instagram.com/flatlandchurch"><span class="fa fa-instagram"></span></a>
                <a href="https://twitter.com/flatlandchurch"><span class="fa fa-twitter"></span></a>
            </div>
        </div>
    </div>
</div>
