{{ define "title" }}
Omaha School of Ministry
{{ end }}

{{ define "main" }}
<div class="jumbotron">
    {{ with .Params.Alert }}
        <div class="alert">
            <a href="{{ .Url }}">{{ .Label }}</a>
        </div>
    {{ end }}
    <div class="jumbotron__meta">
        {{ with .Params.Prop }}
        <img class="jumbotron__prop" src="{{ .Href }}" alt="{{ .Alt }}" />
        {{ end }}
        <h1>{{ .Params.Callout | safeHTML }}</h1>
        <a href="/visit" class="btn btn--primary m" style="--mtop: 24px">Plan a Visit</a>
    </div>
    <img src="{{ .Params.Image }}" alt="Flatland Church" />
</div>
<div class="testimony">
    <div class="testimony__content">
        <div class="video">
            <iframe
                    src="https://player.vimeo.com/video/724524895?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                    frameborder="0"
                    allow="autoplay; fullscreen; picture-in-picture"
                    allowfullscreen
                    title="OSM Promo.mov">
            </iframe>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
</div>
{{ end }}
