{{ define "title" }}
Omaha School of Ministry
{{ end }}

{{ define "main" }}
<div class="jumbotron">
    {{ with .Params.Alert }}
        <div class="alert">
            <a href="{{ .Url }}">{{ .Label }}</a>
        </div>
    {{ end }}
    <div class="jumbotron__meta">
        <h1>{{ .Params.Callout | safeHTML }}</h1>
        <a href="/visit" class="btn btn--primary m" style="--mtop: 24px">Plan a Visit</a>
    </div>
    <img src="{{ .Params.Image }}" alt="Flatland Church" />
</div>
<div class="testimony">
    <div class="testimony__content">
        <img src="{{ .Params.Testimony.Image }}" alt="Testimony from {{ .Params.Testimony.Name }}" />
        <div>
            <blockquote>
                {{ .Params.Testimony.Content | markdownify }}
            </blockquote>
            <span class="citation">- {{ .Params.Testimony.Name }}</span>
        </div>
    </div>
</div>
{{ end }}
